<div class="modal fade" id="preview-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Şablon Önizlemesi</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body">
                <iframe id="invoiceFrame" width="1050px" height="1200px"></iframe>
            </div>
            <div class="modal-footer">
                <button id="iframe-print" type="button" class="btn btn-secondary rounded-pill waves-effect waves-light">
                    <span class="btn-label"><i class="mdi mdi-printer"></i></span>Yazdır
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new-einvoice-template" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="einvoice_template">Yeni e-Fatura Şablonu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon İsmi :</label>
                    <input type="text" id="einvoice-template-name" name="einvoice-template-name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon Dosyası :</label>
                    <input type="file" name="einvoiceTemplateFile" id="einvoiceTemplateFile" class="form-control" accept=".xslt" required>
                </div>
                <div class="d-grid">
                    <button type="submit" id="upload-einvoice-template" class="btn btn-success waves-effect waves-light">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new-earchive-template" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="earchive_template">Yeni e-Arşiv Fatura Şablonu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon İsmi :</label>
                    <input type="text" id="earchive-template-name" name="earchive-template-name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon Dosyası :</label>
                    <input type="file" name="earchiveTemplateFile" id="earchiveTemplateFile" class="form-control" accept=".xslt" required>
                </div>
                <div class="d-grid">
                    <button type="submit" id="upload-earchive-template" class="btn btn-success waves-effect waves-light">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new-edespatch-template" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edespatch_template">Yeni e-Arşiv Fatura Şablonu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon İsmi :</label>
                    <input type="text" id="edespatch-template-name" name="edespatch-template-name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Şablon Dosyası :</label>
                    <input type="file" name="edespatchTemplateFile" id="edespatchTemplateFile" class="form-control" accept=".xslt" required>
                </div>
                <div class="d-grid">
                    <button type="submit" id="upload-edespatch-template" class="btn btn-success waves-effect waves-light">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="nav flex-column nav-pills nav-pills-tab" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link show mb-1 active" id="v-pills-invoice-header-tab" data-bs-toggle="pill"
                                href="#v-pills-einvoice" role="tab" aria-controls="v-pills-einvoice"
                                aria-selected="true">
                                e-Fatura</a>
                            <a class="nav-link mb-1" id="v-pills-lines-tab" data-bs-toggle="pill"
                                href="#v-pills-earchive" role="tab" aria-controls="v-pills-earchive"
                                aria-selected="false">
                                e-Arşiv Fatura</a>
                            <a class="nav-link mb-1" id="v-pills-parties-tab" data-bs-toggle="pill"
                                href="#v-pills-edespatch" role="tab" aria-controls="v-pills-edespatch"
                                aria-selected="false">
                                e-İrsaliye</a>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="tab-content pt-0">
                            <div class="tab-pane fade active show" id="v-pills-einvoice" role="tabpanel"
                                aria-labelledby="v-pills-einvoice-tab">
                                {{!-- eFatura Serileri --}}
                                <h5 class="card-header d-flex justify-content-between align-items-center">
                                    <div>
                                        e-Fatura Şablonlarım
                                    </div>
                                    <button id="new-einvoice-serie" type="button" class="btn btn-sm btn-success"
                                        data-bs-toggle="modal" data-bs-target="#new-einvoice-template">Yeni
                                        Şablon</button>
                                </h5>
                                <table id="einvoice" class="table table-striped table-sm table-hover table-bordered"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align: middle;">ID</th>
                                            <th style="vertical-align: middle;">Adı</th>
                                            <th>Varsayılan</th>
                                            <th>Aktif</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="v-pills-earchive" role="tabpanel"
                                aria-labelledby="v-pills-earchive-tab">
                                {{!-- eArşiv Fatura Serileri --}}
                                <h5 class="card-header d-flex justify-content-between align-items-center">
                                    <div>
                                        e-Arşiv Fatura Şablonlarım
                                    </div>
                                    <button id="new-earchive-serie" type="button" class="btn btn-sm btn-success"
                                        data-bs-toggle="modal" data-bs-target="#new-earchive-template">Yeni
                                        Şablon</button>
                                </h5>
                                <table id="earchive" class="table table-striped table-sm table-hover table-bordered"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align: middle;">ID</th>
                                            <th style="vertical-align: middle;">Adı</th>
                                            <th>Varsayılan</th>
                                            <th>Aktif</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="v-pills-edespatch" role="tabpanel"
                                aria-labelledby="v-pills-edespatch-tab">
                                {{!-- eİrsaliye Serileri --}}
                                <h5 class="card-header d-flex justify-content-between align-items-center">
                                    <div>
                                        e-İrslaiye Şablonlarım
                                    </div>
                                    <button id="new-edespatch-serie" type="button" class="btn btn-sm btn-success"
                                        data-bs-toggle="modal" data-bs-target="#new-edespatch-template">Yeni
                                        Şablon</button>
                                </h5>
                                <table id="edespatch" class="table table-striped table-sm table-hover table-bordered"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align: middle;">ID</th>
                                            <th style="vertical-align: middle;">Adı</th>
                                            <th>Varsayılan</th>
                                            <th>Aktif</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>