<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Mimco by <a href="http://mimsoft.com.tr/" target="_blank">Mimsoft</a> 
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block">
                    <a href="mailto:bilgi@mimsoft.com.tr">Bizimle İletişime Geçin</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->