<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">
            <div class="dropdown">
                <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown"
                    aria-expanded="false">Rahat Fatura</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>Hesabım</span>
                    </a>

                </div>
            </div>

            <p class="text-muted left-user-info">Yönetici</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <li>
                    <a href="/">
                        <i class="mdi mdi-home-variant-outline"></i>
                        <span> Ana Sayfa </span>
                    </a>
                </li>

                <li class="menu-title mt-2">İşlemler</li>
                <li>
                    <a href="#process" data-bs-toggle="collapse">
                        <i class="mdi mdi-plus-network-outline"></i>
                        <span> e-Belge İşlemleri </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="process" style="">
                        <ul class="nav-second-level">
                            <li>
                                <a href="#invoices-process" data-bs-toggle="collapse">
                                    Fatura İşlemleri <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="invoices-process" style="">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="/invoices">Fatura Oluştur</a>
                                        </li>
                                        <li>
                                            <a href="/invoices/status">Gönderilmiş Faturalar</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#despatches-process" data-bs-toggle="collapse">
                                    İrsaliye İşlemleri <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="despatches-process" style="">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="/despatches">İrsaliye Oluştur</a>
                                        </li>
                                        <li>
                                            <a href="/despatches/status">Gönderilmiş İrsaliyeler</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-title mt-2">e-Belge Hareketleri</li>

                <li>
                    <a href="#outgoing-boxes" data-bs-toggle="collapse">
                        <i class="mdi mdi-upload"></i>
                        <span> Giden e-Belge Kutusu </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="outgoing-boxes">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/outgoing/einvoice">Giden e-Fatura Kutusu</a>
                            </li>
                            <li>
                                <a href="/outgoing/earchive">Giden e-Arşiv Kutusu</a>
                            </li>
                            <li>
                                <a href="/outgoing/edespatch">Giden e-İrsaliye Kutusu</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#incoming-boxes" data-bs-toggle="collapse">
                        <i class="mdi mdi-download"></i>
                        <span> Gelen e-Belge Kutusu </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="incoming-boxes">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/incoming/einvoice">Gelen e-Fatura Kutusu</a>
                            </li>
                            <li>
                                <a href="/incoming/edespatch">Gelen e-İrsaliye Kutusu</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title mt-2">Tanımlamalar</li>

                <li>
                    <a href="#definitions" data-bs-toggle="collapse">
                        <i class="mdi mdi-air-filter"></i>
                        <span> e-Belge Tanımlamaları </span>
                        <span class="menu-arrow"></span>

                    </a>
                    <div class="collapse" id="definitions">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/definitions/series">e-Belge Serileri</a>
                            </li>
                            <li>
                                <a href="/definitions/templates">e-Belge Şablonları</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#company-def" data-bs-toggle="collapse">
                        <i class="mdi mdi-account-arrow-right"></i>
                        <span> Firma Tanımlamaları </span>
                        <span class="menu-arrow"></span>

                    </a>
                    <div class="collapse" id="company-def">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/client/info">Firma Bilgilerim</a>
                            </li>
                            <li>
                                <a href="/client/entegrator">Entegratör Bilgileri</a>
                            </li>
                            <li>
                                <a href="#despatch-definitions" data-bs-toggle="collapse">
                                    İrsaliye Tanımlamaları <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="despatch-definitions">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="/despatch-def/drivers">Şoförler</a>
                                        </li>
                                        <li>
                                            <a href="/despatch-def/plates">Plakalar</a>
                                        </li>
                                        <li>
                                            <a href="/despatch-def/carriers">Taşıyıcı Firmalar</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title mt-2">Yönetici İşlemleri</li>

                <li>
                    <a href="#admin-tools" data-bs-toggle="collapse">
                        <i class="mdi mdi-chart-donut"></i>
                        <span> Yönetim Araçları </span>
                        <span class="menu-arrow"></span>

                    </a>
                    <div class="collapse" id="admin-tools">
                        <ul class="nav-second-level">
                            <li>
                                <a href="#sql-queries" data-bs-toggle="collapse">
                                    SQL Sorgulari <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sql-queries">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="/admin/sql">Fatura SQL</a>
                                        </li>
                                        <li>
                                            <a href="/admin/sql/despatches">İrsaliye SQL</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/admin/erp">ERP Bilgileri</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->