<!DOCTYPE html>
<html lang="en">

<head>

    {{>title-meta}}

    {{>head-css}}

</head>

{{>body}}

<div id="wrapper">

    {{>topbar}}

    {{>left-sidebar}}

    <div class="content-page">
        <!-- end row -->
        {{{body}}}
        {{>footer}}

    </div>


</div>


{{>scripts}}

<!-- Vendor js -->
<script src="/js/vendor.min.js"></script>

<!-- Dashboar init js-->
<script src="/js/pages/dashboard.init.js"></script>

<!-- App js-->
<script src="/js/app.min.js"></script>


<!--<script type="text/javascript">
    window.$alpemixweb || (window.$alpemixweb = function () {
        var e = document.createElement("script");
        var Departman = "";
        var Param1 = "";
        var Param2 = "";
        e.type = "text/javascript", e.src = 'https://www.alpemix.com/webc/js/index.js?FirmaAdi=ETRSOFT&Departman=' + Departman + '&Param1=' + Param1 + '&Param2=' + Param2 + '&t=' + new Date(), e.async = !0;
        var h = document.getElementsByTagName("head")[0];
        h.insertBefore(e, h.firstChild)
    })();
</script>-->



</body>

</html>