<h1>SQL Listesi</h1>
<form action="/admin/client/sql" method="post" >
    <p>Invoice SQL</p>
    <textarea id="invoice_sql" name="invoice_sql" rows="20" cols="150">{{sqlList.invoice_sql}}</textarea>
    <br>
    <p>Invoice Lines SQL</p>
    <textarea id="invoice_lines_sql" name="invoice_lines_sql" rows="20" cols="150">{{sqlList.invoice_lines_sql}}</textarea>
    <br>
    <p>Parties SQL</p>
    <textarea id="parties_sql" name="parties_sql" rows="20" cols="150">{{sqlList.parties_sql}}</textarea>
    <br>
    <p>Parties Identify SQL</p>
    <textarea id="parties_identify_sql" name="parties_identify_sql" rows="20" cols="150">{{sqlList.parties_identify_sql}}</textarea>
    <br>
    <button type="submit">Gönder</button>
</form>


