<div class="btn-group"> 
<button type="button" id="preview" class="btn btn-soft-info waves-effect waves-light" title="Faturayı Önizle" tabindex="0" data-plugin="tippy" data-tippy-placement="bottom" data-bs-toggle="modal" data-bs-target="#preview-invoice-modal"> 
<i class="mdi mdi-magnify"></i>
</button> 
<button type="button" class="btn btn-soft-warning dropdown-toggle waves-effect waves-light" title="Ek İşlemler" tabindex="0" data-plugin="tippy" data-tippy-placement="bottom" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="mdi mdi-dots-horizontal"></i>
    </button> 
    <div class="dropdown-menu">
        <div id="check-status">
            <a class="dropdown-item" href="#">Fatura Detayları</a>
            </div>
            <div class="dropdown-divider"></div>
            <div id="pdf-download"> 
            <a class="dropdown-item" href="#"><i class="mdi mdi-file-pdf-box"></i>PDF İndir</a> 
            </div>
            <div id="xml-download"> 
            <a class="dropdown-item" href="#"><i class="mdi mdi-xml"></i>XML İndir</a>
            </div>
            <div class="dropdown-divider"></div>
            </div>
            </div>
            </div>